/*Primary Colors
Midnight Blue - #003B6D
Blue Sky - #6699CC

Secondary Colors
Dim Gray - #676767
Silver - #BDBDBD*/

/*========== SETTING CUSTOM VARIABLES ==========*/
:root {
    --color-primary: #003B6D;
    --color-primary-light: #6699CC;
    --color-secondary: #676767;
    --color-secondary-light: #BDBDBD;
    --color-light: #fff;
    --color-dark: #000;
    --main-bg-color: #F8F9FA;

    --default-font-size: 1.6rem;
    --mg-bottom-sm: 2rem;
    --mg-bottom-med: 5rem;
    --mg-bottom-lg: 10rem;
    --edge: 5rem;
}

/*========== BORDER ANIMATION ON HOVER FOR NAV LINKS ==========*/
@keyframes border_animation {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

/*========== GLOBAL STYLING ==========*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    background-color: var(--main-bg-color);
    height: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.mg-bottom-mid {
    margin-bottom: var(--mg-bottom-med);
}

.mg-bottom-lg {
    margin-bottom: var(--mg-bottom-lg);
}

/*===== HEADER & FOOTER FOR EVERY PAGE =====*/
/*==========HEADER & NAVIGATION ==========*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 10rem;
}

.header-logo {
    height: 6rem;
    padding-right: 1.5rem;
    margin: 1.5rem;
}

.header-logo a {
    height: 100%;
}

.header-logo img {
    height: 100%;
    width: 100%;
}

#navbar {
    flex-grow: 2;
    display: flex;
    justify-content: right;
    align-items: center;

    height: 6rem;
    font-size: var(--default-font-size);
    text-transform: uppercase;
}

.nav-list {
    display: flex;
}

.nav-list-item {
    padding: 1.5rem;
}

.nav-list-item:last-child {
    margin-right: 6rem;
}

.nav-list-item a {
    color: var(--color-dark);
    padding-left: 1rem;
    transition: .2s linear reverse
}

.active {
    color: var(--color-primary-light) !important;
    border-bottom: .2rem solid var(--color-primary-light);
}

.nav-list-item a:hover {
    color: var(--color-primary-light);
    border-bottom: .2rem solid var(--color-primary-light);
    
}

/*===== SEARCH BAR =====*/
.form-search {
    position: relative;
    margin-right: 2rem;
}

.search-bar {
    padding: 1rem 0 1rem 1rem;
    border-radius: 1.8rem;
    border: none;
    background: linear-gradient(145deg, #DFE0E1, #FFF);
    box-shadow: .5rem .5rem 1rem #E4E5E6,
                -.5rem -.5rem 1rem #FFF;
    font-size: var(--default-font-size);
    outline: none;
}

.search-icon {
    position: absolute;
    right: .1rem;
    top: .1rem;
    border: none;
    background: transparent;
}

.search-icon:hover {
    cursor: pointer;
}

.fa-magnifying-glass {
    color: var(--color-primary);
    font-size: 2rem;
    padding: .8rem 1.2rem;
}

/*===== REQUEST A CALL BUTTON =====*/
.nav-button {
    background-color: var(--color-primary);
    color: var(--color-light);
    font-size: var(--default-font-size);
    text-transform: uppercase;
    padding: 1rem 2.25rem;
    margin-right: 1.5rem;
    border: none;
    border-radius: 1.8rem;
}

.nav-button:hover {
    cursor: pointer;
    opacity: .8;
    transition: .3s;
}

/*========== FOOTER ==========*/
#footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
    height: 25rem;
    background-color: #F8F9FA;
    -webkit-box-shadow: 0rem -.2rem 1.5rem -.2rem var(--color-dark); 
    box-shadow: 0rem -.2rem 1.5rem -.2rem var(--color-dark);
}

/*===== BACK TO TOP BUTTON =====*/
.back-to-top {
    grid-column: 2 / 3;
    justify-self: center;
    position: relative;

    width: 5.5rem;
}

.fa-heart {
    position: absolute;
    top: -2.5rem;

    color: var(--color-primary);
    font-size: 5.5rem;
}

.fa-chevron-up {
    position: absolute;
    top: -1.2rem;
    right: 1.5rem;

    color: var(--color-light);
    font-size: 3rem;
}

.back-to-top-text {
    grid-column: 2 / 3;
    justify-self: center;

    font-size: 1.2rem;
}

/*===== SITEMAP MENU =====*/
.footer-nav {
    grid-column: 1 / 2;
    justify-self: center;
    align-self: center;

    margin-bottom: var(--mg-bottom-sm);
}

.footer-nav h4 {
    font-size: var(--default-font-size);
    text-transform: uppercase;
    letter-spacing: .3rem;
    color: var(--color-primary-light);
    margin-bottom: .5rem;
}

.sitemap-list {
    margin-bottom: .5rem;
}

.footer-sitemap a {
    color: var(--color-dark);
    font-size: 1.4rem;
}

.footer-sitemap a:hover {
    color: var(--color-primary);
    font-weight: 700;
}

/*===== FOOTER LOGO =====*/
.footer-logo {
    grid-column: 3 / 4;
    justify-self: end;
    align-self: center;

    padding-right: 2rem;
    width: 18rem;
    height: 6rem;
}

.footer-logo img {
    width: 100%;
    height: 100%;
}

/*===== COPYRIGHT =====*/
.footer-copyright {
    grid-column: 2 / 3;
    justify-self: center;
    align-self: end;
    display: flex;

    padding-bottom: 2rem;
    font-size: 1.4rem;
}

.footer-copyright-company {
    padding-right: 1rem;
    border-right: .1rem solid var(--color-dark);
}

.footer-copyright-designer {
    padding-left: 1rem;
}

/*========== HOME PAGE ==========*/
/*========== TITLE SECTION ==========*/
#hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: var(--color-light);
    height: 60%;
    background: linear-gradient(
        rgba(0, 0, 0, .6),
        rgba(0, 0, 0, .6)),
        url('./images/Meeting1.jpg')
        center no-repeat;
    background-size: cover;
    -webkit-box-shadow: 0rem .2rem 1.5rem .2rem var(--color-dark); 
    box-shadow: 0rem .2rem 1.5rem .2rem var(--color-dark);
}

.hero-title {
    grid-column: 1 / 3;

    margin-top: 3rem;
    padding: 4rem 0;
    font-size: 5rem;
    letter-spacing: .2rem;
}

.hero-slogan {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    align-self: flex-start;

    margin-top: 1rem;
    font-size: 2.5rem;
}

.hero-company-info,
.hero-services {
    grid-row: 3 / 4;
    align-self: flex-end;

    padding: 0 10rem;
    font-size: 1.7rem;
}

/*========== MAIN CONTAINER ==========*/
.container-home {
    display: grid;
    grid-template-columns: var(--edge) repeat(10, auto) var(--edge);
    grid-template-rows: repeat(5, min-content);

    margin-bottom: var(--mg-bottom-lg);
}

/*========== INFO SECTION ==========*/
.info-section {
    grid-column: 2 / 12;
    display: flex;
}

.info-section {
    font-size: var(--default-font-size);
    text-align: left;
}

.info-image img {
    width: 45rem;
    height: 100%;
}

.info-section-text {
    align-self: center;
}

.info-section-2 {
    grid-column: 2 / 12;
    display: flex;

    font-size: var(--default-font-size);
}

.info-section-2 .info-image {
    -webkit-box-shadow: .9rem 1.2rem 1.5rem -.6rem var(--color-dark); 
    box-shadow: .9rem 1.2rem 1.5rem -.6rem var(--color-dark);
}

.info-section-2 .info-section-text {
    text-align: right;
    margin-right: 3rem;
}

/*===== IMAGES POSITIONED TO THE LEFT OF TEXT =====*/
.image-left {
    margin-right: 4rem;
    -webkit-box-shadow: -.9rem 1.2rem 1.5rem -.6rem var(--color-dark); 
    box-shadow: -.9rem 1.2rem 1.5rem -.6rem var(--color-dark);
}

/*========== RESOURCES SECTION ==========*/
.resources {
    grid-column: 2 / 12;
    display: flex;

    font-size: var(--default-font-size);
    margin-bottom: var(--mg-bottom-lg);
}

.resources-image {
    margin-right: 4rem;
}

.resources-image img {
    width: 45rem;
    height: 100%;
}

.resources-list {
    text-indent: 1rem;
}

.resources-list-item i {
    color: var(--color-primary-light);
}

.resources-list-item a {
    color: var(--color-primary-light);
}

/*========== ANIMAL INFO SECTION ==========*/
.animal-info {
    grid-column: 2 / 12;
    display: flex;
    justify-content: space-evenly;
}

/*===== CARD STYLING & ANIMATION FOR ANIMAL INFO CARDS =====*/
.animal-card {
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 0rem .5rem 1.5rem 0rem var(--color-dark); 
    box-shadow: 0rem .5rem 1.5rem 0rem var(--color-dark);

    width: 27.5rem;
    height: 40rem;
    border-radius: .5rem;
}

.image-box {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    clip-path: circle(40rem at center 10rem);
    transition: .5s;
    transition-delay: .5s;
}

.animal-card:hover .image-box {
    clip-path: circle(8rem at center 10rem);
    transition-delay: 0s;
}

.image-box img {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.animal-card-content {
    position: absolute;
    left: 0;
    bottom: 0;
    display: grid;

    width: 100%;
    height: 55%;
    padding: 2rem;
}

.animal-card-title {
    justify-self: center;
    align-self: end;

    color: var(--color-primary-light);
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
}

.card-content-info {
    justify-self: center;
    align-self: center;

    font-size: 1.4rem;
    text-align: center;
}

.animal-card-content a {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-primary);
    border-radius: .5rem;
    color: var(--color-light);
    font-size: var(--default-font-size);
    margin: .5rem 4rem;
}

.animal-card-title,
.card-content-info,
.animal-card-content a {
    opacity: 0;
    transition: .5s;
    transform: translateY(2rem);
}

.animal-card:hover .animal-card-title {
    opacity: 1;
    transform: translateY(0);
    transition-delay: .5s;
}

.animal-card:hover .card-content-info {
    opacity: 1;
    transform: translateY(0);
    transition-delay: .7s;
}

.animal-card:hover .animal-card-content a {
    opacity: 1;
    transform: translateY(0);
    transition-delay: .9s;
}

/*========== CONSULTATION FORM ==========*/
#request-form {
    grid-column: 4 / 10;
    display: grid;
    place-items: center;
    
    width: 50rem;
    height: 50vh;
    border-radius: 1rem;
    box-shadow: .5rem .5rem 1rem #B3B3B4,
                -.5rem -.5rem 1rem var(--color-light);
    background-color: var(--main-bg-color);
    font-size: 1.2rem;
}

.form-header {
    font-size: 3rem;
    font-weight: 400;
}

.info-container {
    display: flex;
}

.your-info-container {
    display: flex;
    flex-direction: column;

    margin-right: 3rem;
}

.info-container h3 {
    margin-bottom: .5rem;
    font-size: var(--default-font-size);
}

.info-container label {
    margin-bottom: .1rem;
}

.info-container input {
    margin-bottom: 1rem;
    border-radius: 1rem;
    height: 3rem;
    background-color: transparent;
    border: none;
    outline-color: transparent;
    box-shadow: inset .4rem .4rem .4rem #B3B3B4,
                inset -.4rem -.4rem .4rem var(--color-light);
    flex-direction: column;
}

.pet-info-container {
    display: flex;
    flex-direction: column;
}

.form-submit button {
    margin-bottom: var(--mg-bottom-sm);
    border: none;
    outline-color: transparent;
    padding: 1.5rem 3rem;
    font-size: var(--default-font-size);
    letter-spacing: .1rem;
    color: var(--color-light);
    background-color: var(--color-primary-light);
    border-radius: 1rem;
}

/*========== DOGS, CATS, & FISH PAGES ==========*/
.secondary-page-header {
    margin-bottom: var(--mg-bottom-med);
}
.container {
    width: min(80%, 120rem);
    margin: 0 auto var(--mg-bottom-med) auto;
    font-size: var(--default-font-size);
}

.container-section {
    padding: 0 1rem;
}

.container-section:first-of-type {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2rem;

    margin-bottom: var(--mg-bottom-med) !important;
}

.container-section:not(:last-of-type) {
    margin-bottom: var(--mg-bottom-sm);
}

.container-section a:hover {
    color: var(--color-secondary);
    border-bottom: .1rem solid var(--color-secondary);
}

.container-info:first-of-type {
    justify-self: center;
    align-self: center;

    padding: 1rem;
}

.container-image {
    max-height: 32rem;
}

.container-image img {
    width: 40rem;
    height: 100%;
    object-fit: cover;
    -webkit-box-shadow: -.9rem 1.2rem 1.5rem -.6rem var(--color-dark); 
    box-shadow: -.9rem 1.2rem 1.5rem -.6rem var(--color-dark);
}

.container-info-title {
    color: var(--color-primary-light);
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.container-list {
    margin-top: 1rem;
}

.container-list-item i {
    margin: 0 .5rem;
    color: var(--color-primary-light);
}

/*===== FISH CONTENT NEXT TO IMAGE =====*/
.first-fish-info {
    margin-bottom: var(--mg-bottom-sm);
    padding: 0 !important;
}

.container-sub-section:last-child {
    padding: 1rem;
}

.container-info span {
    font-weight: 700;
}